:root{
    --color-theme-primary: #0077ff;
    --color-theme-secondary: #ffffff;
    --color-theme-tertiary:#f1f4ff;
    --color-theme-accent:#ffc400;

    --color-theme-text-default: #000000;
    --color-theme-text-card: #838383;
    --color-theme-text-menu: #fff;

    --border-radius-primary: 0.5rem;
    --padding-default: 1rem;

    --icon-size-nav: 1rem;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg{
    max-width: 30px;
}

body{
    display: grid;
    grid-template-columns: minmax(175px, 1fr) 3fr 1fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

    .nav{
        background-color: var(--color-theme-primary);
        color: var(--color-theme-text-menu);

        grid-area: 1/1/-1/2;
        
        display: flex;
        flex-direction: column;
        gap: var(--padding-default);
        padding: var(--padding-default);
    }
        .nav div{
            display: flex;
            align-items: center;
            gap: var(--padding-default)
        }

        .nav svg{
            color: var(--color-theme-text-menu);
        }

        .nav div:nth-of-type(1) svg{
            max-width: 60px;
        }

    .header{
        background-color: var(--color-theme-secondary);

        grid-area: 1/2/2/-1;

        display: grid;
        grid-template-columns: 2fr 1fr;
    }

        .header>div:nth-of-type(1),
        .header>div:nth-of-type(2),
        .small-profile{
            display: flex;
            align-items: center;
            padding: var(--padding-default);
            gap: var(--padding-default);
        }

        .big-profile{
            display: grid;
            grid-template-columns: 60px 1fr;
            grid-template-rows: repeat(2, 1fr);
            align-items: end;
            grid-column-gap: var(--padding-default);
            grid-row-gap: calc(var(--padding-default)/2);
            padding: var(--padding-default);
        }

        .big-profile div+p{
            font-weight: bold;
        }

        .big-profile div{
            grid-row: 1/-1;
            align-self: center;
        }

        .small-profile div,
        .big-profile div{
            background:url(./resources/thammer.jpg);
            background-size: contain;
            border-radius: 50%;
            height: 60px;
            width: 60px;
        }



        .header input{
            all: unset;

            background-color: var(--color-theme-tertiary);
            border-radius: 1rem;
            padding: 0.4rem;
            flex-grow: 1;
            
        }

        .header-social{
            display: flex;
            flex-grow: 0;
            gap: var(--padding-default);

            place-self: center center;
        }

        .header-social button{
            all: unset;
            cursor: pointer;
            color: var(--color-theme-text-menu);
            background-color: var(--color-theme-primary);
            padding: 0.4rem 1rem;
            border-radius: var(--padding-default);
            max-width: 150px;
            max-height: 1.8rem;
        }

    .content{
        background-color: var(--color-theme-tertiary);

        grid-area: 2/2/-1/-2;
        padding: var(--padding-default);
    }

        .content h1{
            margin-bottom: var(--padding-default);
        }

        .articles{
            
            display: grid;
            grid-template-columns: repeat(2, minmax(150px, 1fr));
            grid-gap: var(--padding-default);
        }

            .articles .card{
                background-color: var(--color-theme-secondary);
                border-radius: var(--border-radius-primary);


                display: grid;
                grid-template-columns: 0.5rem 1fr;
                grid-template-rows: repeat(4, auto);
                grid-gap: calc(var(--padding-default)/2);
            }

             .card p{
                color: var(--color-theme-text-card);
             }

            .articles .card::before{
                content:"";
                background-color: var(--color-theme-accent);
                border-top-left-radius: var(--border-radius-primary);
                border-bottom-left-radius: var(--border-radius-primary);

                grid-area: 1/1/-1/2;
            }

            .card-social{
                
                display: flex;
                justify-content: end;
                gap: calc(var(--padding-default)*2);
                padding-right: calc(var(--padding-default)*1.5);
                padding-bottom: var(--padding-default);
            }

            .card-social svg{
                max-width: 1.2rem;
            }

    .sidebar{
        background-color: var(--color-theme-tertiary);
        
        grid-area: 2/3/-1/-1;
    }

        .sidebar h1{
            padding: var(--padding-default);
        }

        .announcements{
            background-color: var(--color-theme-secondary);
            border-radius: var(--border-radius-primary);
            padding: var(--padding-default);

            display: flex;
            flex-direction: column;

            grid-gap: calc(var(--padding-default)/2);

        }
        


        .announcements .card{
            max-height: 6rem;
            overflow: hidden;
        }

        .trending{
            background-color: var(--color-theme-secondary);
            border-radius: var(--border-radius-primary);

            display: flex;
            flex-direction: column;
        }

        .trending .small-profile:nth-of-type(1) div{
            background-image: url(./resources/allfather.jpg);
        }

        .trending .small-profile:nth-of-type(2) div{
            background-image: url(./resources/thammer.jpg);
        }

        .trending .small-profile:nth-of-type(3) div{
            background-image: url(./resources/brokkr.jpg);
        }

        .trending .small-profile:nth-of-type(4) div{
            background-image: url(./resources/eitri.jpg);
        }